*{
	margin: 0;
	padding: 0;
}
body{
	background-size: 100% 100%;
	background-attachment: fixed;
	background-image: url('../img/bgimg.jpg');
}
.login{
	width: 500px;
	margin: auto;
	margin-top: 50px;
}
h1{
	text-align: center;
	font-family: "宋体";
}
form{
	margin: 40px auto;
}
fieldset{
	background-color: rgba(0,0,0,0.2);
	padding: 10px;
	margin: 10px auto;
	width: 450px;
	border: 2px solid gold;
}
form li{
	list-style: none;
	padding: 5px 0px;
}
form li label{
	float: left;
	width: 70px;
	text-align: right;
	margin-left: 10px;
	color: gold;
}
form li a{
	font-size: 14px;
	color: #999;
	text-decoration: none;
}

form input{
	width: 200px;
	height: 25px;
}
.bb{
	margin-left: 65px;
}
.btn{
	border-radius: 3px; 
	border: none;
	color: white;
	background-color: rgba(0,0,0,0.2);
	font-size: 14px;
	font-weight: bold;
	width: 80px;
	height: 30px;
	line-height: 30px;
	padding: 0px 10px;
	margin-left: 20px;
	cursor: pointer;
}
h3{
	color: gold;
}